@import "../core/vars";
@import "../core/mixins";

.tool {
  &__body,
  &__picture,
  &__actions {
    @include flexBox(center, center);
    gap: 50px;
  }

  &__picture {
    flex-direction: column;
  }

  &__actions {
    gap: 30px;
  }
}

.tools__card-action {
  cursor: default;
  pointer-events: none;
}
