@import "../core/vars";
@import "../core/mixins";

.tool {
  padding-top: 50px;
  animation: fadeUp 0.5s ease-out;

  @keyframes fadeUp {
    from {
      transform: translateY(30px) scale(0.9);
      opacity: 0;
    }

    to {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }

  &__body {
    @include flexBox(flex-start);
    gap: 70px;

    @media (width <= 991px) {
      gap: 50px;
    }

    @media (width <= 768px) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }

  &__picture {
    flex: 0 0 200px;

    @media (width <= 991px) {
      flex: 0 1 auto;
      min-width: 150px;
    }
  }

  &__figure {
    display: block;
  }

  &__figcaption {
    text-align: center;
    margin-top: 30px;

    p {
      font-weight: 700;
    }
  }

  &__figure-img {
    width: 100%;
    height: 200px;
    object-fit: contain;

    @media (width <= 768px) {
      height: 100px;
    }
  }

  &__actions {
    @include flexBox(center, center);
    gap: 50px;
    margin-top: 30px;
  }

  &__info {
    @include flexBox(flex-start, flex-start);
    flex-direction: column;
    gap: 10px;
    align-self: stretch;
    flex-grow: 1;

    .main-text {
      margin-bottom: auto;
      width: min(800px, 100%);
    }

    .main-btn {
      align-self: flex-end;
    }
  }
}
