// Flexbox
@mixin flexBox($aItems: initial, $jContent: initial) {
  display: flex;
  align-items: $aItems;
  justify-content: $jContent;
}

// Width / Height 100%
@mixin dimensions100 {
  width: 100%;
  height: 100%;
}

// Font insertion
@mixin insertFont($fSize, $lHeight: 100%, $fWeight: 400, $fFamily: $baseFont) {
  font-size: $fSize;
  line-height: $lHeight;
  font-weight: $fWeight;
  font-family: $fFamily;
}
