@import "../../../../assets/styles/core/vars";
@import "../../../../assets/styles/core/mixins";

.testimonials {
  @media (width <= 768px) {
    padding-top: 30px;
  }

  &__body {
    position: relative;
    padding: 0 50px;

    @media (width <= 768px) {
      padding: 0;
    }
  }

  &__swiper {
    width: min(850px, 100%);
  }

  &__slide {
    @include flexBox(center, center);
    gap: 57px;
    overflow: hidden;

    @media (width <= 768px) {
      flex-direction: column;
      gap: 30px;
    }

    &-figure {
      min-width: min(315px, 392px);
      width: 100%;
      height: 450px;
      position: relative;

      @media (width <= 768px) {
        max-width: 70%;
        height: 400px;
      }

      @media (width <= 575px) {
        max-width: 100%;
      }
    }

    &-img,
    &-img img {
      @include dimensions100;
      display: block;
      object-fit: contain;
    }

    &-figcaption {
      padding: 10px 23px 15px;
      background: rgba(40, 48, 54, 0.2);
      backdrop-filter: blur(25px);
      border-radius: 8px;
      display: inline-block;
      overflow: hidden;
      position: absolute;
      right: 4px;
      bottom: 29px;

      h3 {
        @include insertFont(26px, 39px, 500);
        color: $lighter;
        margin-bottom: 3px;

        @media (width <= 768px) {
          font-size: 20px;
          line-height: 32px;
        }
      }

      p {
        @include insertFont(16px, 24px);
        color: $opacityWhite;
      }
    }

    &-figcaption::after {
      content: "";
      width: 40px;
      height: 40px;
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translate(50%, 50%);
      background: var(--circleCol);
      box-shadow: 0 0 30px 20px var(--circleCol);
      filter: blur(2.5px);
      border-radius: 50%;
      z-index: -1;
      opacity: .3;
    }

    &-info {
      @include insertFont(14px, 30px, 400, "Roboto");
      max-width: 400px;
      color: $lighter;
      position: relative;

      @media (width <= 768px) {
        font-size: 17px;
        line-height: 28px;
        max-width: 100%;
        text-align: justify;
      }
    }

    &-info::before {
      content: "“";
      font-size: 250px;
      line-height: 320px;
      background: linear-gradient(
        188.88deg,
        rgba(252, 252, 252, 0) 20.34%,
        rgba(255, 255, 255, 0.5) 155.72%
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      transform: rotate(19.17deg);
      position: absolute;
      right: 100%;
      top: -90px;

      @media (width <= 768px) {
        right: unset;
        left: -25px;
        top: -110px;
      }
    }
  }

  .swiper-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
    padding: 10px;

    @media (width <= 768px) {
      display: none;
    }

    &.arrow-prev {
      left: 0;
    }

    &.arrow-next {
      right: 0;
    }

    &.disabled-arrow {
      filter: grayscale(1) opacity(0.3);
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  .swiper-pagination {
    @include flexBox(center, center);
    gap: 18px;
    margin-top: 100px;

    @media (width <= 768px) {
      margin-top: 40px;
      gap: 15px;
    }

    &-bullet {
      flex-shrink: 0;
      width: 44px;
      height: 6px;
      background: var(--bullet);
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s;

      @media (width <= 768px) {
        width: 25px;
        height: 4px;
      }
    }

    &-bullet-active {
      background: var(--bulletActive);
    }
  }
}
